@mixin button-style {
    background-color: transparent;
    border: solid 1px black;
    color: black;
    margin: 15px;
    outline: none;    
    padding: 10px 40px;
    &:hover {
        color: white;
        background-color: black;
    }
    @media (max-width: 370px) {
        margin: 5px;
    }
}
* {
    font-family: 'Oswald', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 10px auto;
    header {
        text-align: center;
    }
    .box {
        width: 70%;
        margin: auto;
    }
    .quote {
        padding: 15px;
        font-weight: 300;
    }
    .author {
        font-style: italic;
        text-align: end;
        padding: 30px;
    }
    .menu {
        display: flex;
        justify-content: center;
        @media (max-width: 370px) {
            flex-direction: column;
        }

    }
    .trigger {
        @include button-style();
        cursor: pointer;
        padding-left: 20px;
        .fas {
            // display: none;
            visibility: hidden;
        }
        &:disabled {
            cursor: not-allowed;
            .fas{
                // display: inline-block;
                visibility: visible;
            }
        }
    }
    a.tweet {
        @include button-style();
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
}
